/*全局样式*/
HTML,body,#app{
    height:100%;
    margin:0;
    padding: 0%;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
    min-width: 350px;
}

.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {
    line-height: 20px;
}

.el-form--label-top .el-form-item__label {
    line-height: 20px;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
    /* height: 40px; */
    /* line-height: 40px; */
}

.el-page-header__content {
    font-size: 16px;
}

.el-page-header__title {
    font-size: 16px;
}

.el-divider__text, .el-link {
    font-weight: 800;
    font-size: 16px;
}

.el-upload-dragger .el-icon-upload {
    font-size: 67px;
    color: #C0C4CC;
    margin: 40px 20px 16px;
    line-height: 50px;
}

.el-menu {
    border-right: none;
}