/*全局样式*/
HTML,body,#app{
    height:100%;
    margin:0;
    padding: 0%;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
    min-width: 350px;
}

.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {
    line-height: 20px;
}

.el-form--label-top .el-form-item__label {
    line-height: 20px;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
    height: 40px;
    line-height: 40px;
}